body{
    font-family: Arial, sans-serif;
    background-color: #393939;
	color: white;
    margin: auto;
    padding: 20px;
    max-width: 80%;
    background-color: #f8f9fa;
}

h1, h2, h3 {
    color: #333;
}
